@charset "UTF-8";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Dream Avenue', Verdana, Geneva, Tahoma, sans-serif;
    src: url('./fonts/dream-avenue.woff2') format('woff2'),
         url('./fonts/dream-avenue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --marrom: #4d4520;
    --verde: #8aa47f;
    --verde-cla: #d0dbcc;
    --rosa: #e1c0ff;
}



body {
    font-family: 'Dream Avenue', Arial, sans-serif;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: var(--verde);

    justify-content: space-around;
     align-items: center;
    
}

.menu ul{
    display: flex;
    list-style: none;
    
    
    /* gap: 70px; */
}

.menu a{
    color: var(--verde-cla);
    text-decoration: none;
   

}

h1 {
    background-color: var(--rosa);
    color: var(--rosa);
    font-family: 'Dream Avenue', Arial, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}